<%- include("./partials/header") %>

<%- include("./partials/navbar") %>

    <div class="container mt-5">
        <h3>All blogs</h3>


        <% blogs.forEach(blog => { %>
        <!-- cards -->
        <div class="card mt-3">
            <div class="card-body">
                <p class="text-muted"><%= blog.postedAt %></p>
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text"><%= blog.content %></p>
                <a href="#" class="btn btn-primary">Read More...</a>
            </div>
        </div>
    </div>
    <%}) %>
<%- include("./partials/footer") %>